services:
  backend:
    build: ./backend
    # Esto mantiene el contenedor vivo aunque el proceso de Python falle
    stdin_open: true
    tty: true 
    volumes:
      - ..:/workspaces/EjemploDocker:cached
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    ports:
      - "80:80"